.form {
	margin: 0 auto 2em auto;
	padding-top: 1em;
	box-shadow: 2px 2px 6px #989898;
	border-radius: 2px;
	min-width: 400px;
}

.form-50 {
	width: 50%;
}

.form__fieldset,
.form__group {
	border: none;
	margin: 2em 1em 0 1em;
}

.form__group .form__group-element:last-child {
	border-radius: 0 0 4px 0;
}

.form__group .form__group-element:first-child {
	border-radius: 0 0 0 4px;
}

.form__legend {
	padding: 0.5em 0.75em;
	display: block;
	width: 100%;
	line-height: 1.5;
	font-weight: 600;
	text-transform: uppercase;
}

.form__group-title {
	border: 1px solid #cacaca;
	border-radius: 4px 4px 0 0;
}

.form__group-element {
	text-align: center;
	border-width: 0 1px 1px 1px;
	border-color: #cacaca;
	border-style: solid;
	flex-grow: 1;
}

.form__label,
.form__radio-label,
.form__check-label {
	width: 100%;
	display: block;
}

.form__label {
	padding-top: 2em;
	padding-left: 0.5em;
	padding-bottom: 0.25em;
}

.form__radio,
.form__check {
	position: absolute;
	left: -999px;
}

.form__radio-label,
.form__check-label {
	cursor: pointer;
	text-align: center;
	padding: 0.75em 0.75em;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.form__radio:checked + .form__radio-label,
.form__check:checked + .form__check-label {
	background: #000;
	color: #fff;
}

.form__input {
	border: 1px solid #cacaca;
	border-radius: 4px;
	width: 100%;
	line-height: 1.5;
	padding: 0.5em;
}

.form__select {
	width: 100%;
	line-height: 1.5;
}

.form__button {
	display: block;
	cursor: pointer;
	border: none;
	width: 100%;
	line-height: 1.75;
	margin-top: 1.5em;
	padding: 0.5em;
}

.date-spinner {
	width: 33%;
}

.time-spinner {
	width: 25%;
}

.time-spinner label,
.date-spinner label {
	text-align: center;
	padding: 0.5em 1em 0.25em 0;
	color: #686868;
}

.form__input-date,
.form__input-time {
	text-align: center;
}
