html, body, div, article, header, nav, ul, ol, li, a, form, fieldset,
legend, input, button, label, p, img, textarea,
h1, h2, h3, h4, h5, h6, span, table, tr, th, td, thead, tbody {
  margin: 0; padding: 0;
  list-style: none;
}

/*
Reference: [Paul Irish](http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.wrap {
  max-width: 700px;
  min-width: 600tpx;
  width: 75%;
  margin: 0 auto;
}

a {
  padding: 1em;
  background: #555;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.info {
  color: #333333;
  display: block;
  width: 98%;
  padding: 0.5em;
  margin: 0.2em;
  font-style: italic;
  font-size: 0.85em;
  border-radius: 3px;
}

.info-error {
  background: #ffcaca;
  box-shadow: inset 1px 1px 2px #ddbaba;
}

.info-success {
  background: #caffca;
  box-shadow: inset 1px 1px 2px #baddba;
}

.info-neutral {
  background: #cacaff;
  box-shadow: inset 1px 1px 2px #babadd;
}
