html, body, div, article, header, nav, ul, ol, li, a, form, fieldset,
legend, input, button, label, p, img, textarea,
h1, h2, h3, h4, h5, h6, span {
  margin: 0; padding: 0;
  list-style: none;
}

/*
Reference: [Paul Irish](http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.wrap {
  max-width: 75%;
  margin: 0 auto;
}