body {
	font-family: -apple-system-font, HelveticaNeue, LucidaGrande;
}

.form__input,
.form__label,
.form__button,
.form__select {
	font-size: 1.125em;
}

h1, h2, h3, h4 {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #555;
}

h1 {
  border-bottom: 1px solid #cacaca;
  margin-top: 2em;
  font-size: 1.5em;
}

h2 {
  margin-top: 1.5em;
  font-size: 1.25em;
}

h3 {
  margin-top: 1.25em;
  font-size: 1.125em;
}

h4 {
  margin-top: 1.125em;
  font-size: 1em;
}



