{% if checkouts %}

    <div>
      <h2>Checked Out</h2>

      <table>
        <thead>
        <tr>
          <th>Vehicle Registration</th>
          <th>Vehicle</th>
          <th>Type</th>
          <th>Mileage Start</th>
          <th>Checked Out</th>
          <th>Check in Due</th>
          <th></th>
        </tr>
        {% for checkout in checkouts %}
        </thead>
        <tbody>
        <tr>
          <td>..</td>
          <td>..</td>
          <td>...</td>
          <td>{{ checkout.OdometerStart }}</td>
          <td>{{ checkout.JourneyStart }}</td>
          <td>{{ checkout.ReturnDueDate }}</td>
          <td>
            <a class="btn btn-positive" href="/faculty/checkin/{{checkout.idReservations}}">Check In</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endif %}
