    <div>
      <table>
        <tr>
          <th>Name:</th>
          <td>{{ details.Title }} {{ details.FirstName }} {{ details.LastName }}</td>
        </tr>
        <tr>
          <th colspan="2">Contact Details</th>
        </tr>
        <tr>
          <th>Email:</th>
          <td>{{ details.EmailAddress }}</td>
        </tr>
        <tr>
          <th>Office Number:</th>
          <td>{{ details.OfficeNo }}</td>
        </tr>
        <tr>
          <th>Mobile Number:</th>
          <td>{{ details.MobileNo }}</td>
        </tr>
      </table>

      <a class="btn btn-neutual" href="">Update Details</a>
    </div>
