    {% if completed %}
    <div>
      <h2>Completed Journeys</h2>

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Destination</th>
            <th>Mileage Start</th>
            <th>Mileage End</th>
            <th>Total Miles</th>
            <th>Mileage Rate</th>
            <th>Fuel Cost</th>
            <th>Total Cost</th>
          </tr>
        </thead>
        <tbody>
          {% for complete in completed %}
            <tr>
              <td>{{ complete.JourneyStart }}</td>
              <td>{{ complete.Destination }}</td>
              <td>{{ complete.OdometerStart }}</td>
              <td>{{ complete.OdometerEnd }}</td>
              <td>{{ complete.TotalMileage }}</td>
              <td>{{ complete.MileageRate }}</td>
              <td>{{ complete.FuelCost }}</td>
              <td>{{ complete.TotalCost }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
