{% extends "Layout.html" %}
{% block content %}
    <h1>Faculty Home</h1>

    {{ include('FacultyDetails.html') }}

    <div>
      <h2>Reservations</h2>

      {% if reservations %}
        <table>
          <tr>
            <th>Vehicle Registration</th>
            <th>Vehicle</th>
            <th>Type</th>
            <th>Seats</th>
            <th>Pick up Date</th>
            <th>Return Date</th>
            <th>Destination</th>
            <th></th>
            <th></th>
          </tr>
          {% for reservation in reservations %}
          <tr>
            <td>{{ reservation.VehicleReg }}</td>
            <td>{{ reservation.Manufacturer }} {{ reservation.Model }}</td>
            <td>{{ reservation.TypeName }}</td>
            <td>{{ reservation.Seats }}</td>
            <td>{{ reservation.DepartureDate }}</td>
            <td>{{ reservation.ReturnDueDate }}</td>
            <td>{{ reservation.Duration }}</td>
            <td>{{ reservation.Destination }}</td>
            <td><a class='btn btn-positive' href="/faculty/checkout/{{reservation.idReservations}}">Checkout</a></td>
            <td><a class='btn btn-neutral' href="/faculty/reservation/update/{{reservation.idReservations}}">Update</a></td>
            <td><a class='btn btn-warning' href="/faculty/reservation/delete/{{reservation.idReservations}}">Delete</a></td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <span>No Pending reservations.</span>
      {% endif %}
      <a class="btn btn-positive" href="/faculty/reservation/add">Create Reservation</a>
    </div>


    {% if checkouts %}
    <div>
      <h2>Checked Out</h2>

      <table>
        <tr>
          <th>Vehicle Registration</th>
          <th>Vehicle</th>
          <th>Type</th>
          <th>Mileage Start</th>
          <th>Checked Out</th>
          <th>Check in Due</th>
          <th></th>
        </tr>
        {% for checkout in checkouts %}
          <td>..</td>
          <td>..</td>
          <td>...</td>
          <td>{{ checkout.OdometerStart }}</td>
          <td>{{ checkout.JourneyStart }}</td>
          <td>{{ checkout.ReturnDueDate }}</td>
          <td>
            <a class="btn btn-positive" href="/faculty/checkin/{{checkout.idReservations}}">Check In</a>
          </td>
        {% endfor %}
    </div>
    {% endif %}


{% endblock %}