   <div>
      <h2>Reservations</h2>
      <a class="btn btn-positive" href="/faculty/reservation/add">Create Reservation</a>

      {% if not reservations %}
        <span>No Pending reservations.</span>
      {% endif %}

      {% for reservation in reservations %}
        <div class="card">
          {{ include('ReservationDetails.html') }}

          <h4>Vehicles</h4>
          <table>
            <thead>
              <tr>
                <td>Registration</td>
                <td>Vehicle</td>
                <td>Type</td>
                <td>Seats</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            {% for vehicle in reservation.vehicles %}
              <tr>
                <td>{{ vehicle.VehicleReg }}</td>
                <td>{{ vehicle.Manufacturer }} {{ reservation.Model }}</td>
                <td>{{ vehicle.TypeName }}</td>
                <td>{{ vehicle.Seats }}</td>
                {% if 'now'|date('Y-m-d') == reservation.DepartureDate|date('Y-m-d') %}
                <td><a class='btn btn-positive' href="/faculty/checkout/{{vehicle.idVehicles}}/{{reservation.idReservations}}">Checkout</a></td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <div class="card__button-group">
            <a class='btn btn-neutral' href="/faculty/reservation/update/{{reservation.idReservations}}">Update Reservation</a>
            <a class='btn btn-negative' href="/faculty/reservation/delete/{{reservation.idReservations}}">Cancel Reservation</a>
          </div>
        </div>
      {% endfor %}

 </div><!-- end of reservations -->