{% if checkouts %}

    <div>
      <h2>Checked Out</h2>
      {% for checkout in checkouts %}

      {{ include('ReservationDetails.html') }}

          <h4>Vehicles</h4>
          <table>
            <thead>
              <tr>
                <td>Registration</td>
                <td>Vehicle</td>
                <td>Type</td>
                <td>Seats</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            {% for vehicle in checkout.vehicles %}
              <tr>
                <td>{{ vehicle.VehicleReg }}</td>
                <td>{{ vehicle.Manufacturer }} {{ reservation.Model }}</td>
                <td>{{ vehicle.TypeName }}</td>
                <td>{{ vehicle.Seats }}</td>
                <td><a class="btn btn-positive" href="/faculty/checkin/{{checkout.idVehicles}}/{{checkout.idReservations}}">Check In</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      {% endfor %}
    </div>
{% endif %}
