    <div>
      <table>
        <tr>
          <th>Name:</th>
          <td>{{ userdetails.Title }} {{ userdetails.FirstName }} {{ userdetails.LastName }}</td>
        </tr>
        <tr>
          <th colspan="2">Contact Details</th>
        </tr>
        <tr>
          <th>Email:</th>
          <td>{{ userdetails.EmailAddress }}</td>
        </tr>
        <tr>
          <th>Office Number:</th>
          <td>{{ userdetails.OfficeNo }}</td>
        </tr>
        <tr>
          <th>Mobile Number:</th>
          <td>{{ userdetails.MobileNo }}</td>
        </tr>
      </table>

      <a class="btn btn-neutual" href="">Update Details</a>
    </div>
