{% extends "Layout.html" %}
{% block content %}
    <h1>General Vehicle Maintenace</h1>

    <table>
      <tbody>
        <tr>
          <th>Vehicle:</th>
          <td>{{ vehicle }}</td>
        </tr>
        <tr>
          <th>Type:</th>
          <td>{{ type }}</td>
        </tr>
        <tr>
          <th>Seats:</th>
          <td>{{ seats }}</td>
        </tr>
      </tbody>
    </table>

    <form class="form form-50" action="/mechanic/checkout" method="post">
      <fieldset class="form__fieldset">
        <legend class='form__legend'></legend>

        <label for="description" class="form__label">Description</label>
        <textarea class="form__input" name="description" id="description" cols="30" rows="10"></textarea>

        <label for="entry-date" class="form__label">Entry Date</label>
        <input type="date" step="1" class="form__input" name="entry-date" id="entry-date" value="{{ defaultDate }}">

        <button class="form__button">Checkout</button>
      </fieldset>
    </form>

{% endblock %}