{% extends "Layout.html" %}
{% block content %}

    <a href="/mechanic">Home</a>

    <h1>Maintenance Detail</h1>

    <h2>Issue Raised</h2>

    <table class="table-vert">
      <tr>
        <th>Vehicle</th>
        <td>{{ details.VehicleReg }} - {{ details.Manufacturer }} {{ details.Model }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ details.BriefDescription }}</td>
      </tr>
      <tr>
        <th>Maintenance Entry Date</th>
        <td>{{ details.MaintenanceEntryDate|date('l jS F Y H:i') }}</td>
      </tr>
    </table>

    <a href="/maintenance/log/{{log}}/complete">Return Vehicle to service</a>

    {% if completed %}
    <h2>Completed items</h2>

    <table>
      <thead>
        <tr>
          <th>Item Description</th>
          <th>Parts Used</th>
          <th>Completed By</th>
          <th>Completion Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for c in completed %}
        <tr>
          <td>
            <p>{{ c.ItemDescription }}</p>
          </td>
          <td>
            <ul>
            {% for part in c.parts %}
              <li>{{ part.PartName }}: {{ part.Count }}</li>
            {% endfor %}
            </ul>
          </td>
          <td>{{ c.FullName }}</td>
          <td>{{ c.CompletionDate|date('l jS F Y H:i') }}</td>
          <td><a href="/maintenance/log/{{log}}/reopen/{{c.idMaintenanceItem}}">Reopen</a></td>
          <td><a href="">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="info info-neutual">There are no completed items</p>
    {% endif %}

    <h2>Open Items</h2>

    {% if open %}
    <table>
      <thead>
        <tr>
          <th>Item Description</th>
          <th>Parts Used</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for o in open %}
        <tr>
          <td>
            <p>{{ o.ItemDescription }}</p>
          </td>
          <td>
            <ul>
            {% for part in o.parts %}
              <li>{{ part.PartName }}: {{ part.Count }}</li>
            {% endfor %}
            </ul>
          </td>
          <td><a href="/maintenance/log/{{log}}/complete/{{o.idMaintenanceItem}}">Mark Complete</a></td>
          <td><a href="/maintenance/log/{{log}}/update/{{o.idMaintenanceItem}}">Update</a></td>
          <td><a href="/maintenance/log/{{log}}/delete/{{o.idMaintenanceItem}}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="info info-neutual">The are not open items</p>
    {% endif %}

    <a href="/maintenance/log/{{log}}/additem">Add Item</a>

{% endblock %}