{% extends "Layout.html" %}
{% block content %}
    <h1>Confirm Deletion</h1>

    <form class="form form-50" method="post" action="/vehicle/{reg}/maintenance-detail/{lognumber}/maintenace-item/remove/{id:\d}">
      <fieldset class="form__fieldset">
        <legend class="form__legend">Deletion Confirmation</legend>

        <p class="form__information">Please enter your password to confirm deletion</p>
        <label for="password" class="form__label">Password</label>
        <input class="form__input" type="text" name="password" id="password">
      </fieldset>

      <button class="form__button">Complete Deletion</button>
      <a class="form__button" href="/vehicle/{reg}/maintenance-detail">Cancel Deletion and return to maintenance</a>
    </form>


{% endblock %}