{% extends "Layout.html" %}
{% block content %}

  <h1>Vehicle Maintenance Detail</h1>

  <div>Vehicle Details</div>

  <h3>Current</h3>

  <p>Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam sint adipisci non ut fugiat. Consectetur laudantium, quis animi perferendis.</p>

  <div class='card-maintenance-item'>
    <p><strong>Item ID: </strong>24124124</p>
    <p><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quis, officia quibusdam voluptas nam vero id. Repellendus blanditiis ea, officia!</p>
    <table>
      <thead>
        <tr>
          <th colspan="4">Parts</th>
        </tr>
        <tr>
          <th>Part Number</th>
          <th>Part Name</th>
          <th>Signed By</th>
          <th>Signed Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1231</td>
          <td>Oil Filter</td>
          <td>James</td>
          <td>2015-11-16</td>
        </tr>
        <tr>
          <td>1231</td>
          <td>Oil Filter</td>
          <td>James</td>
          <td>2015-11-16</td>
        </tr>
        <tr>
          <td>1231</td>
          <td>Oil Filter</td>
          <td>James</td>
          <td>2015-11-16</td>
        </tr>
      </tbody>
    </table>

    <a href="/vehicle/tfbs1/maintenance-detail/12312/maintenace-item/update/1">Update this item</a>
    <a href="/vehicle/tfbs1/maintenance-detail/12312/maintenace-item/remove/1">Remove this item</a>
  </div><!-- Card Maintenance Item -->

  <a href="/vehicle/tfbs1/maintenance-detail/231231/maintenace-item">Add New Item</a>

  <h2>Past: Log Number</h2>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Parts</th>
        <th>Mechanic</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora numquam recusandae modi voluptate molestias aperiam placeat optio dolorem voluptas itaque, quidem commodi sapiente qui temporibus praesentium id assumenda earum, eius.</td>
        <td>
          <ul>
            <li>Part1</li>
            <li>Part1</li>
            <li>Part1</li>
          </ul>
        </td>
        <td>James</td>
        <td>2015-11-15</td>
      </tr>
    </tbody>
  </table>

{% endblock %}