{% extends "Layout.html" %}
{% block content %}

    <h1>Check out vehicle for general maintenance</h1>

    <h2>Issue Raised</h2>

    <table class="table-vert">
      <tr>
        <th>Vehicle</th>
        <td>{{ details.VehicleReg }} - {{ details.Vehicle }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ details.MaintenanceIssues }}</td>
      </tr>
      <tr>
        <th>Maintenance Entry Date</th>
        <td>{{ details.ReportedDate|date('l jS F Y H:i') }}</td>
      </tr>
    </table>


    <form action="/maintenance/checkout/general/issue/{{details.idReportedIssues}}"
          method="post"
          class="form form-50">
      <fieldset class="form__fieldset">
        <label class="form__label" for="description">Add a Brief Description</label>
        <textarea class="form__input" name="description" id="description" cols="30" rows="10"></textarea>
      </fieldset>
      <input class="form__button" type="submit" value="Checkout Vehicle">
    </form>

{% endblock %}