{% extends "Layout.html" %}
{% block content %}
    <h1>Maintenance Item</h1>

    <p></p>

    <form class="form form-50" action="{{ action }}" method="post">
      <fieldset class="form__fieldset">
        <legend class="form__legend">Maintenance Item Details</legend>

        <label for="description" class="form__label">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" class="form__input">
          {{ description ? description : '' }}
        </textarea>

        <label for="" class="form__label">Parts!!!!!</label>
      </fieldset>
      <button class="form__button">Confirm</button>
      <a class="form__button" href="/vehicle/{reg}/maintenance-detail">Cancel and return to maintenance</a>
    </form>

{% endblock %}