{% extends "Layout.html" %}
{% block content %}
    <h1>Mechanic Home</h1>

    {{ mechanic.FullName }}

    <h2>Reported Issues</h2>

    {% if issues %}
    <table>
      <thead>
        <th>Vehicle Reg</th>
        <th>Vehicle</th>
        <th>Reported Issue</th>
        <th>Reported</th>
        <th></th>
      </thead>
      <tbody>
        {% for issue in issues %}
        <tr>
          <td>{{ issue.VehicleReg }}</td>
          <td>{{ issue.Vehicle }}</td>
          <td>{{ issue.MaintenanceIssues }}</td>
          <td>{{ issue.ReportedDate }}</td>
          <td><a href="/maintenance/checkout/general/issue/{{issue.idReportedIssues}}">Checkout</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="info info-success">The are currently no reported issues.</p>
    {% endif %}

    <h2>Under Maintenance</h2>

    {% if maintenance %}
    <table>
      <thead>
        <th>Vehicle Reg</th>
        <th>Vehicle</th>
        <th>Description</th>
        <th>Reported</th>
        <th></th>
      </thead>
      <tbody>
        {% for vehicle in maintenance %}
        <tr>
          <td>{{ vehicle.VehicleReg }}</td>
          <td>{{ vehicle.Manufacturer }} {{ vehicle.Model }}</td>
          <td>{{ vehicle.BriefDescription }}</td>
          <td>{{ vehicle.MaintenanceEntryDate }}</td>
          <td><a href="/maintenance/log/{{vehicle.MaintenanceLogNumber}}">View Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="info info-neutral">There are not vehicles undergoing maintenance</p>
    {% endif %}

    <h2>Completed Maintenance</h2>
    <table>
      <thead>
        <th>Vehicle Reg</th>
        <th>Vehicle</th>
        <th>Description</th>
        <th>Reported</th>
      </thead>
      <tbody>
        {% for complete in completed %}
        <tr>
          <td>{{ complete.VehicleReg }}</td>
          <td>{{ complete.Manufacturer }} {{ complete.Model }}</td>
          <td>{{ complete.BriefDescription }}</td>
          <td>{{ complete.DateReturned }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}