{% extends "Layout.html" %}
{% block content %}
    <h1>Mechanic Home</h1>

    {{ mechanic.FullName }}

    <h2>Maintenance Issues</h2>

    <table>
      <thead>
        <th>Vehicle Reg</th>
        <th>Vehicle</th>
        <th>Reported Issue</th>
        <th>Reported</th>
        <th></th>
      </thead>
      <tbody>
        {% for issue in issues %}
        <tr>
          <td>{{ issue.VehicleReg }}</td>
          <td>{{ issue.Vehicle }}</td>
          <td>{{ issue.MaintenanceIssues }}</td>
          <td>{{ issue.ReportedDate }}</td>
          <td><a href="/maintenance/checkout/general/reservation/{{issue._idReservation}}/vehicle/{{issue.idVehicle}}">Checkout</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Under Maintenance</h2>
    <table>
      <thead>
        <th>Vehicle Reg</th>
        <th>Vehicle</th>
        <th>Description</th>
        <th>Reported</th>
        <th></th>
      </thead>
      <tbody>
        {% for vehicle in maintenance %}
        <tr>
          <td>{{ vehicle.VehicleReg }}</td>
          <td>{{ vehicle.Model }} {{ vehicle.Manufacturer }}</td>
          <td>{{ vehicle.BriefDescription }}</td>
          <td>{{ vehicle.MaintenanceEntryDate }}</td>
          <td><a href="/maintenance/log/{{vehicle.MaintenanceLogNumber}}">View Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}