      <fieldset class='form__group'>
        <span class='form__legend form__group-title'>Required Seats</span>

        <div class="flex-row" id="required-seats">
          <div class='form__group-element form__group-element-col'>
            <input class='form__radio' type="radio"
                   name='requiredseats' id='seats-2' value="2" {{ field.requiredseats == 2 ? 'checked="checked"' : '' }}>
            <label class='form__radio-label' for='seats-2'>2</label>
          </div>

          <div class='form__group-element form__group-element-col'>
            <input class='form__radio' type="radio"
                   name='requiredseats' id='seats-5' value="5" {{ field.requiredseats == 5 ? 'checked="checked"' : '' }}>
            <label class='form__radio-label' for='seats-5'>5</label>
          </div>

          <div class='form__group-element form__group-element-col'>
            <input class='form__radio' type="radio"
                   name='requiredseats' id='seats-8' value="8" {{ field.requiredseats == 8 ? 'checked="checked"' : '' }}>
            <label class='form__radio-label' for='seats-8'>8</label>
          </div>

          <div class='form__group-element form__group-element-col'>
            <input class='form__radio' type="radio"
                   name='requiredseats' id='seats-12' value="12" {{ field.requiredseats == 12 ? 'checked="checked"' : '' }}>
            <label class='form__radio-label' for='seats-12'>12</label>
          </div>
        </div>
      </fieldset>