            <h3 class="card__title">
              <span class="card__item-title">Reservation No:</span>
              <span class="card__item-value">{{ reservation.idReservation }}</span>
            </h3>
          <ul class="card__list">
            <li class="card__item">
              <span class="card__item-title">Pick up date:</span>
              <span class="card__item-value">{{ reservation.DepartureDate }}</span>
            </li>
            <li class="card__item">
              <span class="card__item-title">Return Date:</span>
              <span class="card__item-value">{{ reservation.ReturnDueDate }}</span>
            </li>
            <li class="card__item">
              <span class="card__item-title">Destination:</span>
              <span class="card__item-value">{{ reservation.Destination }}</span>
            </li>
            <li class="card__item"></li>
          </ul>