{% extends "Layout.html" %}
{% block content %}
  <h1>Check out Reservation.</h1>

    <form action="{{ action }}" method="post" class="form form-50">
      <fieldset class='form__fieldset'>
        <legend class='form__legend'>Confirm Odometer Reading</legend>

        <label for="odometer-start" class="form__label">Current Odometer Reading</label>
        <input type="number" class="form__input" min="{{ odometerStart }}"
               name="odometer-start" id="odometer-start" value="{{ odometerStart }}">
      </fieldset>

      <button class="form__button">Confirm</button>
    </form>
{% endblock %}