{% if vehicles %}
  {% for vehicle in vehicles %}
    <tr class="form__table-row">
      <td>{{ vehicle.Manufacturer }} {{ vehicle.Model }}</td>
      <td>{{ vehicle.TypeName }}</td>
      <td>{{ vehicle.Seats }}</td>
      <td>{{ vehicle.MileageRate }}</td>
      <td class="">
        {% if vid == vehicle.idVehicles %}
      <input class="table-radio" name="vehicle" id="vehicle-{{ vehicle.idVehicles }}"
             type="checkbox" value="{{ vehicle.idVehicles }}" checked="checked">
          {% else %}
      <input class="table-radio" name="vehicle" id="vehicle-{{ vehicle.idVehicles }}"
             type="checkbox" value="{{ vehicle.idVehicles }}">
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endif %}