{% if vehicles %}
  {% for booked in vehicles.booked %}
  <tr class="form__table-row">
    <td>{{ booked.Manufacturer }} {{ booked.Model }}</td>
    <td>{{ booked.TypeName }}</td>
    <td>{{ booked.Seats }}</td>
    <td>{{ booked.MileageRate }}</td>
    <td class="">
    <input class="table-radio" name="vehicle[]" id="vehicle-{{ booked.idVehicles }}"
           type="checkbox" value="{{ booked.idVehicles }}" checked="checked">
    </td>
  </tr>
  {% endfor %}

  {% for available in vehicles.available %}
  <tr class="form__table-row">
    <td>{{ available.Manufacturer }} {{ available.Model }}</td>
    <td>{{ available.TypeName }}</td>
    <td>{{ available.Seats }}</td>
    <td>{{ available.MileageRate }}</td>
    <td class="">
    <input class="table-radio" name="vehicle[]" id="vehicle-{{ available.idVehicles }}"
           type="checkbox" value="{{ available.idVehicles }}">
    </td>
  </tr>
  {% endfor %}
{% endif %}