{% extends "Layout.html" %}
{% block content %}

  <h1>Vehicles</h1>

  <table>
    <tr>
      <th>Reg</th>
      <th>Make</th>
      <th>Model</th>
      <th>Type</th>
      <th>Seats</th>
      <th>Mileage Rate</th>
      <th></th>
      <th></th>
    </tr>
    {% for vehicle in vehicles %}
      <tr>
        <td>{{ vehicle.VehicleReg }}</td>
        <td>{{ vehicle.Manufacturer }}</td>
        <td>{{ vehicle.Model }}</td>
        <td>{{ vehicle.TypeName }}</td>
        <td>{{ vehicle.Seats }}</td>
        <td>{{ vehicle.MileageRate }}</td>
        <th><a class='btn btn-neutral' href='/vehicle/{{ vehicle.VehicleReg }}/update'>Update</a></th>
        <th><a class='btn btn-warning' href='/vehicle/{{ vehicle.VehicleReg }}/delete'>Delete</a></th>
      </tr>
    {% else %}
      <tr>
        <td colspan='8'>No Vehicles Found.</td>
      </tr>
    {% endfor %}
  </table>

  <a class='btn' href="/vehicle/add">Add New Vehicle</a>

{% endblock %}