{% extends "Layout.html" %}
{% block content %}

  <h1>Vehicle</h1>

  <form action="{{ action }}" method="post" class="form form-50">
    <fieldset class="form__fieldset">
      <legend class="form__legend">...</legend>

      <label for="vehicle-reg" class="form__label">Registration</label>
      <input class="form__input" type="text" name="vehicle-reg" id="vehicle-reg" value="{{ vehicle-reg ? vehicle-reg : '' }}">

      <label for="make" class="form__label">Make</label>
      <input type="text" class="form__input" name="make" id="make" value="{{ make ? make : '' }}">

      <label for="model" class="form__label">Model</label>
      <input type="text" class="form__input" name="model" id="model" value="{{ model ? model : '' }}">
    </fieldset>

    <fieldset class="form__fieldset">
      <legend class="form__legend">...</legend>

      <label for="mileage-rate" class="form__label">Mileage Rate</label>
      <input class="form__input"
             type="number"
             step="0.1" min="0"
             name="mileage-rate" id="mileage-rate"
             value="{{ mileage-rate ? mileage-rate : '' }}">

      <label for="current-mileage" class="form__label">Current Mileage</label>
      <input type="number"
             class="form__input"
             step="1" min="0"
             name="current-mileage" id="current-mileage"
             value="{{ current-mileage ? current-mileage : '' }}">
    </fieldset>

    <fieldset class="form__group">
      <legend class="form__legend form__group-title">Select Type of Vehicle</legend>
      <div class='form__group-element form__group-element-col'>
        <input class='form__radio' type="radio" name='type' id='minibus' value="minibus">
        <label class='form__radio-label' for='minibus'>Minibus</label>
      </div>
      <div class='form__group-element form__group-element-col'>
        <input class='form__radio' name='type' id='hatchback' type="radio" value="hatchback">
        <label class='form__radio-label' for='hatchback'>Hatchback</label>
      </div>
      <div class='form__group-element form__group-element-col'>
        <input class='form__radio' name='type' id='saloon' type="radio" value="saloon">
        <label class='form__radio-label' for='saloon'>Saloon</label>
      </div>
      <div class='form__group-element form__group-element-col'>
        <input class='form__radio' name='type' id='minivan' type="radio" value="minivan">
        <label class='form__radio-label' for='minivan'>Minivan</label>
      </div>
    </fieldset>

    <fieldset class='form__group'>
      <span class='form__legend form__group-title'>Select Number of Seats</span>

      <div class="flex-column">
        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='required-seats' id='seats-2' type="radio" value="2">
          <label class='form__radio-label' for='seats-2'>2</label>
        </div>

        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='required-seats' id='seats-5' type="radio" value="5">
          <label class='form__radio-label' for='seats-5'>5</label>
        </div>

        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='required-seats' id='seats-8' type="radio" value="8">
          <label class='form__radio-label' for='seats-8'>8</label>
        </div>

        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='required-seats' id='seats-12' type="radio" value="12">
          <label class='form__radio-label' for='seats-12'>12</label>
        </div>
      </div>
    </fieldset>


    <div class="form__group">
      <span class='form__legend form__group-title'>Colour</span>

      <div class="flex-column">
        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='colour' id='black' type="radio" value="black">
          <label class='form__radio-label' for='black'>Black</label>
        </div>

        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='colour' id='white' type="radio" value="white">
          <label class='form__radio-label' for='white'>White</label>
        </div>

        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='colour' id='red' type="radio" value="red">
          <label class='form__radio-label' for='red'>Red</label>
        </div>

        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='colour' id='green' type="radio" value="green">
          <label class='form__radio-label' for='green'>Green</label>
        </div>

        <div class='form__group-element form__group-element-col'>
          <input class='form__radio' name='colour' id='blue' type="radio" value="blue">
          <label class='form__radio-label' for='blue'>Blue</label>
        </div>
      </div>
    </div>

    <button class="form__button">Complete</button>
  </form>

{% endblock %}