{% extends "Layout.html" %}
{% block content %}

  <h1>Vehicles</h1>

  <table>
    <tr>
      <th>Reg</th>
      <th>Make</th>
      <th>Model</th>
      <th>Type</th>
      <th>Colour</th>
      <th>Seats</th>
      <th>Mileage Rate</th>
    </tr>
    {% for vehicle in vehicles %}
      <tr>
        <td>{{ vehicle.VehicleReg }}</td>
        <td>{{ vehicle.Make }}</td>
        <td>{{ vehicle.Model }}</td>
        <td>{{ vehicle.VehicleTypeName }}</td>
        <td>{{ vehicle.Colour }}</td>
        <td>{{ vehicle.Seats }}</td>
        <td>{{ vehicle.MileageRate }}</td>
      </tr>
    {% endfor %}
  </table>


  <a href="/vehicle/add">Add New Vehicle</a>

{% endblock %}